<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
	PUBLIC 	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	
	<display-name>Project1 Connection to MySQL DB</display-name>
	<description>
		Project1 Connection to mySQL DB
	</description>
	
	<servlet>
		<servlet-name>Project1Servlet</servlet-name>
		<servlet-class>MovieList</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Project1Servlet</servlet-name>
		<url-pattern>/servlet/project1</url-pattern>
	</servlet-mapping>
	
	
</web-app>